{% extends "header.html" %}

{% block body %}

<div class="jumbotron">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="card" style="width: 22rem;">
                  <img class="card-img-top" src="{{url_for('static', filename='images/dev1.jpg')}}" style="height:600px" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Abhay Raj Singh</h5>
                    <a href="https://www.instagram.com/thealphasingh/" class="btn btn-dark">Say Hi!</a>
                  </div>
                </div>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="card" style="width: 22rem;">
                  <img class="card-img-top" src="{{url_for('static', filename='images/dev22.jpg')}}" style="height:600px" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Itti Rehan</h5>
                    <a href="https://www.instagram.com/ittirehan/" class="btn btn-dark">Say Hi!</a>
                  </div>
                </div>

            </div>


        </div>


    </div>

{% endblock %}
